<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hs.PinXCheck.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Hs.PinXCheck.Shell.Properties.Settings>
            <setting name="GuiColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="GuiTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PinballXPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </Hs.PinXCheck.Shell.Properties.Settings>
    </userSettings>
</configuration>
